/*
**  direction setting variables 
*/
$start: right;
$end: left;

/*
**  font family setting variables 
*/
$main-font: cairo, sans-serif;
$secondary-font: muli, sans-serif;

/*******************************  import All used scss files   ******************************/
/*******************************  import All used scss files   ******************************/
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/fonts";

@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "components/container";

@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

@import "pages/home";
